body {
    background-color: #F2DFE0;
    color: #000;
}
.navbar {
    background-color: #00703C !important;
}
.navbar-brand {
    color: #F2DFE0 !important;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #D9B8B9 !important;
}
.btn-success {
    background-color: #00703C;
    border: none;
}
.btn-outline-success {
    color: #00703C;
    border-color: #00703C;
}
.btn-outline-primary {
    color: #B38FB1;
    border-color: #B38FB1;
}
.card {
    border: 1px solid #B38FB1;
}
.card-header {
    background-color: #00703C;
    color: white;
}
